
stay/Debug/stay.exe
stay/Debug/stay.ilk
stay/Debug/stay.log
stay/Debug/stay.pdb
stay/Debug/stay.tlog/CL.command.1.tlog
stay/Debug/stay.tlog/CL.read.1.tlog
stay/Debug/stay.tlog/CL.write.1.tlog
stay/Debug/stay.tlog/link.command.1.tlog
stay/Debug/stay.tlog/link.read.1.tlog
stay/Debug/stay.tlog/link.write.1.tlog
stay/Debug/helpers.obj
stay/Debug/lexer.obj
stay/Debug/NamesList.obj
stay/Debug/numeric_value.obj
stay/Debug/numeric_value.obj.enc
stay/Debug/options.obj
stay/Debug/parser.obj.enc
stay/Debug/stay.Build.CppClean.log
stay/Debug/stay.tlog/stay.lastbuildstate
stay/Debug/stay.tlog/unsuccessfulbuild
stay/Debug/string.obj
stay/Debug/target.obj
stay/Debug/vc140.idb
stay/Debug/vc140.pdb
stay/out.txt
stay/Release/compiler.obj
stay/Release/helpers.obj
stay/Release/lexer.obj
stay/Release/stay.exe
stay/Release/stay.iobj
stay/Release/stay.ipdb
stay/Release/stay.log
stay/Release/stay.pdb
stay/Release/stay.tlog/CL.command.1.tlog
stay/Release/stay.tlog/CL.read.1.tlog
stay/Release/stay.tlog/CL.write.1.tlog
stay/Release/stay.tlog/link.command.1.tlog
stay/Release/stay.tlog/link.read.1.tlog
stay/Release/stay.tlog/link.write.1.tlog
stay/Release/stay.tlog/stay.lastbuildstate
stay/Release/string.obj
stay/Release/vc140.pdb
stay/stay.sln
stay/stay.VC.db
stay/stay.vcxproj
stay/stay.vcxproj.filters
stay/stay.vcxproj.user
stay/.vs/stay/v14/.suo
stay/ClassDiagram.cd
stay/Debug/ast_checks.obj.enc
stay/Debug/ast_nodes_print.obj
stay/Debug/compiler.obj.enc
stay/Debug/cpp_formatter.obj.enc
stay/Debug/cpp_synth.obj.enc
stay/Debug/expression_attributes.obj.enc
stay/Debug/FileName.obj
src/ast_checks.cpp~RF51286e9.TMP
*.obj
*.o
.ninja_deps
.ninja_log