
stay/Debug/stay.exe
stay/Debug/stay.ilk
stay/Debug/stay.log
stay/Debug/stay.pdb
stay/Debug/stay.tlog/CL.command.1.tlog
stay/Debug/stay.tlog/CL.read.1.tlog
stay/Debug/stay.tlog/CL.write.1.tlog
stay/Debug/stay.tlog/link.command.1.tlog
stay/Debug/stay.tlog/link.read.1.tlog
stay/Debug/stay.tlog/link.write.1.tlog
